@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --darkblue: #242a56;
    --lightblue: #749be7;
    --bg: #dff2ff;
    --gradient : linear-gradient(to bottom right, #2a305f,#242a5652);
    --bold : 600;
    --semi-bold: 500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;

}
p{
    color: #393a56;
}
ul{
    list-style: none;
}
h1,h2,h3,h4{
    font-weight: var(--bold);
    color: var(--darkblue);
}
.container{
    width: 80%;
    margin: auto;
}
.grid{
    display: grid;
    grid-gap: 1.5rem;
}
section{
    padding: 60px 0;
}
.btn{
    padding: 10px 14px;
    background-color: var(--lightblue);
    border: none;
    color: white;
    border-radius: 5px;
}
.btn:hover, .btn:hover.btn a{
    color: var(--lightblue);
    background-color: white;
}
/* Header */

.header {
    background-image: url(./img/header-bg.png);
    width: 100vw;
    height: 100vh;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.nav-item:hover.nav-item a{
    color: var(--lightblue);
}
.logo img{
    width: 180px;
}
ul{
    display: flex;
    align-items: center;
}
ul li a{
    margin: 0 20px ;
    color: white;
}
.header-content{
    width: 50%;
    margin-top: 100px;
    color: whitesmoke;
}
.header-content h1, .header-content h3{
    color: whitesmoke;
    margin: 10px auto;
}
.header-content h1{
    font-size: 3rem;

}
.header-content p{
    margin-bottom: 30px;
    color: whitesmoke;
}
/* Service-section */
.title{
    text-align: center;
    max-width: 60%;
    margin: auto;
}
.title h2{
    margin-bottom: 15px;
}
.service-wrapper{
    margin-top: 60px;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
}
.service{
    background: white;
    padding: 2rem  1rem;
    
  
}
.service:hover{
    background: var(--gradient);
    border-radius: 5px;
    
      
}
.service:hover.service p,
.service:hover.service h4,
.service:hover.service .fa{
    color: white;
    
   
}
.service .fa-solid{
    font-size: 30px;
    color: var(--lightblue);
    margin-bottom: 10px;
}
.service h4{
    margin-bottom: 10px;
}
/* portfolio */
.portfolio-wrapper{
    margin-top: 60px ;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 20px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.btn-wrapper .btn:hover{
    border: 1px solid var(--darkblue);
    color: var(--darkblue);
}
.portfolio-wrapper img{
    width: 100%;
    height: 200px;
}
/* customer-section */
    .customer-wrapper{
        margin-top: 60px;
        grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    }
    .testimonial{
        background: var(--bg);
    }
    .testimonial .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .review{
        margin-top: 50px;
        text-align: center;
    }
    .review h4{
        font-size: 14px;
    }
    /* getstarted */
    .getstarted{
        margin: 60px auto;
        width: 80%;

        }
        .ctn-wrapper{
            display: flex;
            box-shadow: 4px 4px 4px 4px #0000ff2b;
            border-radius: 5px;
            align-items: center;
            justify-content: space-between;
            padding: 20px 40px;
        }
        .ctn-wrapper .btn{
            height: 50px;
        }
        .ctn-wrapper .text{
            width: 80%;
        }
        .ctn-wrapper .text h2{
            color: var(--lightblue);
            margin-bottom: 10px;
        }
        /* Footer-section */
        footer{
            padding: 60px 0;
            background-color: var(--darkblue);
        }
        footer .container{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(200px,auto));
        }
        footer .col{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        footer h4, footer p, footer li a{
            color: white;
            
        }
        footer ul{
            flex-direction: column;
        }
        footer .col h4{
            margin-bottom: 10px;
        }
        .footer-pera{
            margin: 20px auto;
            
        }
        .social-icons{
            margin: 15px;
            color: white;
            
        }
        .social-icons i{
            margin: 0 6px;
            font-size: 20px;
            cursor: pointer;
        } 
        footer ul li{
            margin: 5px;
            font-size: 14px;
        }
        hr {
            width: 80%;
            margin: 10px auto;
        }
        .copyright{
            width: 80%;
            
        }
        .copyright p{
            margin: 10px auto;
        }
        .menuBar {
            width: 50px;
            color: white;
            display: none;
            cursor: pointer;
            z-index: 99;
        }
       
        /* Mobile Device */
        @media only screen and (max-width:768px){
            .menuBar{
                display: block;   
            }
            .logo img{
                width: 150px;
            }
            .nav-list{
              background-color: var(--darkblue);
              flex-direction: column;
              width: 100vw;
              height: 100vh;
              top: 0;
              left: 0;
              position: absolute;
              margin-left: -900px;
              transition: margin 0.8s ease-in-out;
              
            }
            .nav-item{
                margin: 30px auto;
            }
            .nav-list.active{
                margin-left: 0;
            }
            .header-content{
                width: 90%;
            }
            .header-content h1{
                font-size: 2rem;
            }
            .title{
                max-width: 100%;
            }
            .grid{
                justify-content: center;
            }
            .customer-wrapper img{
                margin-top: 20px;
            }
            .ctn-wrapper {
            flex-direction: column;
            }
            .ctn-wrapper h2{
                font-size: 20px;
            }
            .ctn-wrapper .text{
                margin-bottom: 15px;
                width: 90%;
            }
            footer .container{
                grid-template-columns: repeat(auto-fit,minmax(150px,auto));
            }
            footer .col{
                margin-bottom: 30px;
            }
        }
        
